<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <p>
      <ion-icon name="folder-outline"></ion-icon>
      We are a student group that is trying to make peoples lives easier by
      making a to-do app.
    </p>
    <p>
      With this App, you can keep your to-do lists in one place and easily
      accessible.
    </p>
    <p>
      This app will help you to organize your daily tasks, so you can have a
      more effective life.
    </p>
  </div>
</ion-content>
